In [16]:
import pandas as pd
import numpy as np


# 워닝 무시
import warnings
warnings.filterwarnings('ignore')

In [31]:
data = pd.read_excel('Seoul_single_person_households.xls')

In [32]:
print(data.shape)
data

(451, 11)

,기간,자치구,동,계,1인가구,2인가구,3인가구,4인가구,5인가구,6인가구,7인이상 가구
0,2020,합계,합계,3982290,1390701,1033901,792690,602791,130122,25770,6315
1,2020,종로구,소계,63414,25983,16281,10882,7679,2027,440,122
2,2020,종로구,사직동,3839,1487,1073,701,432,112,28,6
3,2020,종로구,삼청동,1031,380,295,189,112,39,11,5
4,2020,종로구,부암동,3773,1129,1089,772,552,176,39,16
...,...,...,...,...,...,...,...,...,...,...,...
446,2020,강동구,둔촌1동,13,6,X,X,X,X,X,X
447,2020,강동구,둔촌2동,9940,2389,2763,2407,1924,380,61,16
448,2020,강동구,암사1동,14431,4551,4008,3064,2229,464,89,26
449,2020,강동구,천호2동,15701,6378,4433,2689,1710,380,84,27
450,2020,강동구,길동,19509,6909,5261,3850,2722,592,136,39

In [47]:
data_new = data.drop(data.columns[0:1], axis=1,index = None)
data_new = data.drop(data.columns[5:], axis=1,index = None)
data
data_new

       기간  자치구     동        계     1인가구
0    2020   합계    합계  3982290  1390701
1    2020  종로구    소계    63414    25983
2    2020  종로구   사직동     3839     1487
3    2020  종로구   삼청동     1031      380
4    2020  종로구   부암동     3773     1129
..    ...  ...   ...      ...      ...
446  2020  강동구  둔촌1동       13        6
447  2020  강동구  둔촌2동     9940     2389
448  2020  강동구  암사1동    14431     4551
449  2020  강동구  천호2동    15701     6378
450  2020  강동구    길동    19509     6909

[451 rows x 5 columns]

In [48]:
data_new['비중'] =data_new['1인가구']/data_new['계']
data_new

       기간  자치구     동        계     1인가구        비중
0    2020   합계    합계  3982290  1390701  0.349221
1    2020  종로구    소계    63414    25983  0.409736
2    2020  종로구   사직동     3839     1487  0.387340
3    2020  종로구   삼청동     1031      380  0.368574
4    2020  종로구   부암동     3773     1129  0.299231
..    ...  ...   ...      ...      ...       ...
446  2020  강동구  둔촌1동       13        6  0.461538
447  2020  강동구  둔촌2동     9940     2389  0.240342
448  2020  강동구  암사1동    14431     4551  0.315363
449  2020  강동구  천호2동    15701     6378  0.406216
450  2020  강동구    길동    19509     6909  0.354144

[451 rows x 6 columns]

In [69]:
data_gu = data_new.loc[data_new.동 == "소계", ['자치구','비중']]

data_gu = data_gu.sort_values(by="비중",ascending = False,ignore_index= True)
data_gu

     자치구        비중
0    관악구  0.519094
1     중구  0.414172
2    종로구  0.409736
3    광진구  0.409632
4    금천구  0.409293
5   동대문구  0.405159
6   영등포구  0.394111
7    마포구  0.393152
8    용산구  0.385325
9    동작구  0.382086
10  서대문구  0.374594
11   강서구  0.353024
12   강북구  0.351951
13   성동구  0.348526
14   중랑구  0.343410
15   성북구  0.342369
16   강남구  0.330403
17   구로구  0.310642
18   은평구  0.303482
19   송파구  0.288131
20   강동구  0.284034
21   서초구  0.281458
22   노원구  0.278438
23   도봉구  0.273896
24   양천구  0.237503

In [70]:
data_dong = data_new.loc[data_new.자치구 == "강서구", ['동','비중']]
data_dong = data_dong.sort_values(by="비중",ascending = False,ignore_index= True)
data_dong

       동        비중
0   가양1동  0.594616
1   등촌1동  0.503512
2   가양2동  0.481206
3   화곡1동  0.419006
4   방화2동  0.411868
5   가양3동  0.392249
6   화곡6동  0.387473
7    공항동  0.378575
8   등촌3동  0.376553
9   화곡본동  0.374718
10  방화3동  0.368101
11    소계  0.353024
12  화곡4동  0.333184
13  화곡8동  0.314503
14  화곡2동  0.307468
15  화곡3동  0.272380
16  등촌2동  0.264670
17  방화1동  0.234215
18   염창동  0.203813
19  우장산동  0.189119
20  발산1동  0.169010

In [93]:
data_ages = pd.read_excel('Report.xls')
data_ages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      78 non-null     int64
 1   구분      78 non-null     object
 2   성별      78 non-null     object
 3   합계      78 non-null     int64
 4   20세미만   78 non-null     int64
 5   20~24세  78 non-null     int64
 6   25~29세  78 non-null     int64
 7   30~34세  78 non-null     int64
 8   35~39세  78 non-null     int64
 9   40~44세  78 non-null     int64
 10  45~49세  78 non-null     int64
 11  50~54세  78 non-null     int64
 12  55~59세  78 non-null     int64
 13  60~64세  78 non-null     int64
 14  65~69세  78 non-null     int64
 15  70~74세  78 non-null     int64
 16  75~79세  78 non-null     int64
 17  80~84세  78 non-null     int64
 18  85세이상   78 non-null     int64
dtypes: int64(17), object(2)
memory usage: 11.7+ KB

In [118]:
data_ages['청년(20~34)']=data_ages.iloc[:,4:8].sum(axis=1)
data_ages['중장년(35~64)']=data_ages.iloc[:,8:14].sum(axis=1)
data_ages['노년(65~)']=data_ages.iloc[:,14:19].sum(axis=1)
data_ages

,기간,구분,성별,합계,20세미만,20~24세,25~29세,30~34세,35~39세,40~44세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상,청년(20~34),중장년(35~64),노년(65~)
0,2020,합계,계,1390701,14185,123990,238517,183573,126485,91518,...,84976,94834,77047,65469,54109,37968,25140,560265,570703,259733
1,2020,합계,남자,650999,5345,42602,114318,102247,70540,51144,...,46352,42318,28985,20181,13245,7863,4736,264512,311477,75010
2,2020,합계,여자,739702,8840,81388,124199,81326,55945,40374,...,38624,52516,48062,45288,40864,30105,20404,295753,259226,184723
3,2020,종로구,계,25983,398,3331,4111,2923,1981,1516,...,1744,1727,1337,1156,1108,749,547,10763,10323,4897
4,2020,종로구,남자,12663,134,1209,2229,1664,1043,774,...,1053,915,625,424,330,186,136,5236,5726,1701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2020,송파구,남자,32890,125,959,4957,6133,4542,3199,...,2165,1986,1358,966,578,323,206,12174,17285,3431
74,2020,송파구,여자,40804,159,2140,7015,5796,4400,2944,...,2176,2952,2636,2307,1717,1230,1003,15110,16801,8893
75,2020,강동구,계,50316,152,1971,6990,6124,4657,3746,...,3885,4585,3663,2809,2019,1385,955,15237,24248,10831
76,2020,강동구,남자,23817,56,611,2988,3412,2614,2111,...,2176,2032,1417,939,552,308,171,7067,13363,3387
77,2020,강동구,여자,26499,96,1360,4002,2712,2043,1635,...,1709,2553,2246,1870,1467,1077,784,8170,10885,7444

In [128]:
data_ages_cut = data_ages.iloc[:,[1,2,3,19,20,21]] 
data_ages_cut

     구분  성별       합계  청년(20~34)  중장년(35~64)  노년(65~)
0    합계   계  1390701     560265      570703   259733
1    합계  남자   650999     264512      311477    75010
2    합계  여자   739702     295753      259226   184723
3   종로구   계    25983      10763       10323     4897
4   종로구  남자    12663       5236        5726     1701
..  ...  ..      ...        ...         ...      ...
73  송파구  남자    32890      12174       17285     3431
74  송파구  여자    40804      15110       16801     8893
75  강동구   계    50316      15237       24248    10831
76  강동구  남자    23817       7067       13363     3387
77  강동구  여자    26499       8170       10885     7444

[78 rows x 6 columns]

In [129]:
data_ages_gu =data_ages_cut.loc[data_ages_cut.성별 == "계"]
data_ages_gu=data_ages_gu[1:]
data_ages_gu

      구분 성별      합계  청년(20~34)  중장년(35~64)  노년(65~)
3    종로구  계   25983      10763       10323     4897
6     중구  계   22818       8615        9677     4526
9    용산구  계   36881      14316       16170     6395
12   성동구  계   42585      17663       17561     7361
15   광진구  계   62301      30085       24016     8200
18  동대문구  계   60925      28734       21119    11072
21   중랑구  계   56605      14984       28341    13280
24   성북구  계   61510      28561       21178    11771
27   강북구  계   45685      11914       21067    12704
30   도봉구  계   34884       7160       17018    10706
33   노원구  계   56438      15248       23452    17738
36   은평구  계   57853      17399       26434    14020
39  서대문구  계   49863      24335       16629     8899
42   마포구  계   63172      30948       23655     8569
45   양천구  계   39436       9412       19177    10847
48   강서구  계   86172      33598       36280    16294
51   구로구  계   50971      17185       22967    10819
54   금천구  계   42334      15663       19052     7619
57  영등포구  계   64000      28303       25661    10036
60   동작구  계   64101      33137       21041     9923
63   관악구  계  129233      75147       40410    13676
66   서초구  계   43942      17231       19820     6891
69   강남구  계   68999      27343       31321    10335
72   송파구  계   73694      27284       34086    12324
75   강동구  계   50316      15237       24248    10831

In [133]:
data_ages_gu["청년비중"] = data_ages_gu["청년(20~34)"]/data_ages_gu["합계"]
data_ages_gu["중장년비중"] = data_ages_gu["중장년(35~64)"]/data_ages_gu["합계"]
data_ages_gu["노년비중"] = data_ages_gu["노년(65~)"]/data_ages_gu["합계"]
data_ages_gu

,구분,성별,합계,청년(20~34),중장년(35~64),노년(65~),청년비중,중장년비중,노년비중
3,종로구,계,25983,10763,10323,4897,0.414232,0.397298,0.188469
6,중구,계,22818,8615,9677,4526,0.377553,0.424095,0.198352
9,용산구,계,36881,14316,16170,6395,0.388167,0.438437,0.173396
12,성동구,계,42585,17663,17561,7361,0.414770,0.412375,0.172854
15,광진구,계,62301,30085,24016,8200,0.482898,0.385483,0.131619
18,동대문구,계,60925,28734,21119,11072,0.471629,0.346639,0.181732
21,중랑구,계,56605,14984,28341,13280,0.264712,0.500680,0.234608
24,성북구,계,61510,28561,21178,11771,0.464331,0.344302,0.191367
27,강북구,계,45685,11914,21067,12704,0.260786,0.461136,0.278078
30,도봉구,계,34884,7160,17018,10706,0.205252,0.487845,0.306903
33,노원구,계,56438,15248,23452,17738,0.270173,0.415536,0.314292
36,은평구,계,57853,17399,26434,14020,0.300745,0.456917,0.242338
39,서대문구,계,49863,24335,16629,8899,0.488037,0.333494,0.178469
42,마포구,계,63172,30948,23655,8569,0.489901,0.374454,0.135646
45,양천구,계,39436,9412,19177,10847,0.238665,0.486282,0.275053
48,강서구,계,86172,33598,36280,16294,0.389895,0.421018,0.189087
51,구로구,계,50971,17185,22967,10819,0.337152,0.450590,0.212258
54,금천구,계,42334,15663,19052,7619,0.369986,0.450040,0.179974
57,영등포구,계,64000,28303,25661,10036,0.442234,0.400953,0.156812
60,동작구,계,64101,33137,21041,9923,0.516950,0.328248,0.154803
63,관악구,계,129233,75147,40410,13676,0.581485,0.312691,0.105824
66,서초구,계,43942,17231,19820,6891,0.392131,0.451049,0.156820
69,강남구,계,68999,27343,31321,10335,0.396281,0.453934,0.149785
72,송파구,계,73694,27284,34086,12324,0.370234,0.462534,0.167232
75,강동구,계,50316,15237,24248,10831,0.302826,0.481914,0.215260

In [134]:
df_young = data_ages_gu.sort_values(by = "청년(20~34)",ascending = False)
df_young

,구분,성별,합계,청년(20~34),중장년(35~64),노년(65~),청년비중,중장년비중,노년비중
63,관악구,계,129233,75147,40410,13676,0.581485,0.312691,0.105824
48,강서구,계,86172,33598,36280,16294,0.389895,0.421018,0.189087
60,동작구,계,64101,33137,21041,9923,0.516950,0.328248,0.154803
42,마포구,계,63172,30948,23655,8569,0.489901,0.374454,0.135646
15,광진구,계,62301,30085,24016,8200,0.482898,0.385483,0.131619
18,동대문구,계,60925,28734,21119,11072,0.471629,0.346639,0.181732
24,성북구,계,61510,28561,21178,11771,0.464331,0.344302,0.191367
57,영등포구,계,64000,28303,25661,10036,0.442234,0.400953,0.156812
69,강남구,계,68999,27343,31321,10335,0.396281,0.453934,0.149785
72,송파구,계,73694,27284,34086,12324,0.370234,0.462534,0.167232
39,서대문구,계,49863,24335,16629,8899,0.488037,0.333494,0.178469
12,성동구,계,42585,17663,17561,7361,0.414770,0.412375,0.172854
36,은평구,계,57853,17399,26434,14020,0.300745,0.456917,0.242338
66,서초구,계,43942,17231,19820,6891,0.392131,0.451049,0.156820
51,구로구,계,50971,17185,22967,10819,0.337152,0.450590,0.212258
54,금천구,계,42334,15663,19052,7619,0.369986,0.450040,0.179974
33,노원구,계,56438,15248,23452,17738,0.270173,0.415536,0.314292
75,강동구,계,50316,15237,24248,10831,0.302826,0.481914,0.215260
21,중랑구,계,56605,14984,28341,13280,0.264712,0.500680,0.234608
9,용산구,계,36881,14316,16170,6395,0.388167,0.438437,0.173396
27,강북구,계,45685,11914,21067,12704,0.260786,0.461136,0.278078
3,종로구,계,25983,10763,10323,4897,0.414232,0.397298,0.188469
45,양천구,계,39436,9412,19177,10847,0.238665,0.486282,0.275053
6,중구,계,22818,8615,9677,4526,0.377553,0.424095,0.198352
30,도봉구,계,34884,7160,17018,10706,0.205252,0.487845,0.306903

In [135]:
df_old = data_ages_gu.sort_values(by = "노년(65~)",ascending = False)
df_old

,구분,성별,합계,청년(20~34),중장년(35~64),노년(65~),청년비중,중장년비중,노년비중
33,노원구,계,56438,15248,23452,17738,0.270173,0.415536,0.314292
48,강서구,계,86172,33598,36280,16294,0.389895,0.421018,0.189087
36,은평구,계,57853,17399,26434,14020,0.300745,0.456917,0.242338
63,관악구,계,129233,75147,40410,13676,0.581485,0.312691,0.105824
21,중랑구,계,56605,14984,28341,13280,0.264712,0.500680,0.234608
27,강북구,계,45685,11914,21067,12704,0.260786,0.461136,0.278078
72,송파구,계,73694,27284,34086,12324,0.370234,0.462534,0.167232
24,성북구,계,61510,28561,21178,11771,0.464331,0.344302,0.191367
18,동대문구,계,60925,28734,21119,11072,0.471629,0.346639,0.181732
45,양천구,계,39436,9412,19177,10847,0.238665,0.486282,0.275053
75,강동구,계,50316,15237,24248,10831,0.302826,0.481914,0.215260
51,구로구,계,50971,17185,22967,10819,0.337152,0.450590,0.212258
30,도봉구,계,34884,7160,17018,10706,0.205252,0.487845,0.306903
69,강남구,계,68999,27343,31321,10335,0.396281,0.453934,0.149785
57,영등포구,계,64000,28303,25661,10036,0.442234,0.400953,0.156812
60,동작구,계,64101,33137,21041,9923,0.516950,0.328248,0.154803
39,서대문구,계,49863,24335,16629,8899,0.488037,0.333494,0.178469
42,마포구,계,63172,30948,23655,8569,0.489901,0.374454,0.135646
15,광진구,계,62301,30085,24016,8200,0.482898,0.385483,0.131619
54,금천구,계,42334,15663,19052,7619,0.369986,0.450040,0.179974
12,성동구,계,42585,17663,17561,7361,0.414770,0.412375,0.172854
66,서초구,계,43942,17231,19820,6891,0.392131,0.451049,0.156820
9,용산구,계,36881,14316,16170,6395,0.388167,0.438437,0.173396
3,종로구,계,25983,10763,10323,4897,0.414232,0.397298,0.188469
6,중구,계,22818,8615,9677,4526,0.377553,0.424095,0.198352