# 영화 관객 예측
***

In [27]:
!pip install catboost
!pip install ngboost

Collecting catboost
  Using cached catboost-1.0.4-cp39-none-win_amd64.whl (73.5 MB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: graphviz in c:\programdata\anaconda3\lib\site-packages (from catboost) (0.19.1)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.20.3)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from catboost) (3.4.3)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (from catboost) (5.5.0)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4
Collecting ngboost
  Downloading ngboost-0.3.12-py3-none-any.whl (31 kB)
Requirement already satisfied: scikit-learn>=0.21 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (0.24.2)
Requirement already satisfied: tqdm>=4.3 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (4.62.3)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (1.20.3)
Collecting lifelines>=0.25
  Downloading lifelines-0.26.4-py3-none-any.whl (348 kB)
Requirement already satisfied: scipy>=1.3 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (1.7.1)
Collecting formulaic<0.3,>=0.2.2
  Downloading formulaic-0.2.4-py3-none-any.whl (55 kB)
Collecting autograd-gamma>=0.3
  Downloading autograd-gamma-0.5.0.tar.gz (4.0 kB)
Requirement already satisfied: matplotlib>=3.0 in c:\programdata\anaconda3\lib\site-packages (from lifelines>=0.25->ngboost) (3.4.3)
Requirement already satisfied: pandas>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from lifelines>=0.25->ngboost) (1.3.4)
Collecting autograd>=1.3
  Downloading autograd-1.3.tar.gz (38 kB)
Requirement already satisfied: future>=0.15.2 in c:\programdata\anaconda3\lib\site-packages (from autograd>=1.3->lifelines>=0.25->ngboost) (0.18.2)
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (1.12.1)
Collecting astor
  Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Collecting interface-meta>=1.2
  Downloading interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (0.10.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0->lifelines>=0.25->ngboost) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.0->lifelines>=0.25->ngboost) (2021.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.21->ngboost) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.21->ngboost) (2.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.3->ngboost) (0.4.4)
Building wheels for collected packages: autograd, autograd-gamma
  Building wheel for autograd (setup.py): started
  Building wheel for autograd (setup.py): finished with status 'done'
  Created wheel for autograd: filename=autograd-1.3-py3-none-any.whl size=47989 sha256=42ff2abae068a100c88f4b09685dcaaa257ce05901e53beb3f5180f7f37550ac
  Stored in directory: c:\users\eunwon\appdata\local\pip\cache\wheels\b6\86\a9\2c2d40e3c7d837ca251d7cb66f06a283c8679fa17421e8ddeb
  Building wheel for autograd-gamma (setup.py): started
  Building wheel for autograd-gamma (setup.py): finished with status 'done'
  Created wheel for autograd-gamma: filename=autograd_gamma-0.5.0-py3-none-any.whl size=4049 sha256=5815ae7362a34b3b8df461d014fe50f1797007755243146f618c6d5fc5ceb632
  Stored in directory: c:\users\eunwon\appdata\local\pip\cache\wheels\a8\03\64\8557323821d25118c3a2dc1646996f7a962a8970d4b7d22473
Successfully built autograd autograd-gamma
Installing collected packages: interface-meta, autograd, astor, formulaic, autograd-gamma, lifelines, ngboost
Successfully installed astor-0.8.1 autograd-1.3 autograd-gamma-0.5.0 formulaic-0.2.4 interface-meta-1.2.4 lifelines-0.26.4 ngboost-0.3.12
Collecting ngboost
  Using cached ngboost-0.3.12-py3-none-any.whl (31 kB)
Collecting lifelines>=0.25
  Using cached lifelines-0.26.4-py3-none-any.whl (348 kB)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (1.20.3)
Requirement already satisfied: scikit-learn>=0.21 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (0.24.2)
Requirement already satisfied: scipy>=1.3 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (1.7.1)
Requirement already satisfied: tqdm>=4.3 in c:\programdata\anaconda3\lib\site-packages (from ngboost) (4.62.3)
Collecting autograd>=1.3
  Using cached autograd-1.3-py3-none-any.whl
Requirement already satisfied: pandas>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from lifelines>=0.25->ngboost) (1.3.4)
Requirement already satisfied: matplotlib>=3.0 in c:\programdata\anaconda3\lib\site-packages (from lifelines>=0.25->ngboost) (3.4.3)
Collecting formulaic<0.3,>=0.2.2
  Using cached formulaic-0.2.4-py3-none-any.whl (55 kB)
Collecting autograd-gamma>=0.3
  Using cached autograd_gamma-0.5.0-py3-none-any.whl
Requirement already satisfied: future>=0.15.2 in c:\programdata\anaconda3\lib\site-packages (from autograd>=1.3->lifelines>=0.25->ngboost) (0.18.2)
Collecting astor
  Using cached astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from formulaic<0.3,>=0.2.2->lifelines>=0.25->ngboost) (1.12.1)
Collecting interface-meta>=1.2
  Using cached interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (0.10.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0->lifelines>=0.25->ngboost) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.0->lifelines>=0.25->ngboost) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.21->ngboost) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.21->ngboost) (1.1.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.3->ngboost) (0.4.4)
Installing collected packages: interface-meta, autograd, astor, formulaic, autograd-gamma, lifelines, ngboost
Successfully installed astor-0.8.1 autograd-1.3 autograd-gamma-0.5.0 formulaic-0.2.4 interface-meta-1.2.4 lifelines-0.26.4 ngboost-0.3.12

Collecting catboost
  Downloading catboost-1.0.4-cp39-none-win_amd64.whl (73.5 MB)
Requirement already satisfied: pandas>=0.24.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.3.4)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.20.3)
Collecting plotly
  Downloading plotly-5.5.0-py2.py3-none-any.whl (26.5 MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.7.1)
Requirement already satisfied: graphviz in c:\programdata\anaconda3\lib\site-packages (from catboost) (0.19.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from catboost) (3.4.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2021.3)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.1)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, catboost
Successfully installed catboost-1.0.4 plotly-5.5.0 tenacity-8.0.1

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [29]:
train = pd.read_csv("movies_train.csv")
test = pd.read_csv('movies_test.csv')
submission = pd.read_csv('submission.csv')

In [30]:
train.head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083

In [31]:
test.head(3)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7

In [32]:
submission.head(3)

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0

#### 배급사 전처리

In [33]:
train['distributor'] = train.distributor.str.replace("(주)", '')
test['distributor'] = test.distributor.str.replace("(주)", '')

In [34]:
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in train.distributor]
test['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in test.distributor]

In [35]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x :
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    else :
        return x

In [36]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

#### 장르별 영화 관객수 평균값으로 랭크 인코딩

In [37]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [38]:
train['genre_rank'] = train.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})
test['genre_rank'] = test.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})

#### 배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩

In [39]:
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [40]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])]

In [41]:
tr_nm_rank

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

#### 최종 데이터 병합

In [42]:
train = pd.merge(train, tr_nm_rank, how = 'left')

In [43]:
test = pd.merge(test, tr_nm_rank, how = 'left')

In [44]:
test.fillna(0, inplace = True)

In [45]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from ngboost import NGBRegressor

#### 모델링 데이터 구성
- 타겟 값인 관객수를 로그변환
- 상영등급은 더미 변수
- 출연 배우 수는 로그변환

In [46]:
X = train[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
y = np.log1p(train.box_off_num)

In [47]:
X = pd.get_dummies(columns = ['screening_rat'], data = X)

In [48]:
X['num_actor'] = np.log1p(X['num_actor'])

In [49]:
target = test[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]

In [50]:
target = pd.get_dummies(columns = ['screening_rat'], data = target)

In [51]:
target['num_actor'] = np.log1p(target['num_actor'])

#### 10Fold로 교차검증

In [52]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

### 5가지 모델 사용
#### 1) GradientBoostingRegressor

In [53]:
gbm = GradientBoostingRegressor(random_state = 42)

In [54]:
rmse_list = []
gb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    gb_pred += (sub_pred / 10)

In [55]:
np.mean(rmse_list)

1174378.9765191542

#### 2) NGBRegressor

In [56]:
ngb = NGBRegressor(random_state = 518)

In [75]:
rmse_list = []
ngb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    ngb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in ngb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    ngb_pred += (sub_pred / 10)

[iter 0] loss=0.7877 val_loss=0.0000 scale=1.0000 norm=0.7443
[iter 100] loss=0.7646 val_loss=0.0000 scale=0.5000 norm=0.3658
[iter 200] loss=0.7513 val_loss=0.0000 scale=0.5000 norm=0.3626
[iter 300] loss=0.7357 val_loss=0.0000 scale=0.2500 norm=0.1792
[iter 400] loss=0.7259 val_loss=0.0000 scale=0.1250 norm=0.0889
[iter 0] loss=0.7457 val_loss=0.0000 scale=0.5000 norm=0.3646
[iter 100] loss=0.7261 val_loss=0.0000 scale=0.5000 norm=0.3581
[iter 200] loss=0.7170 val_loss=0.0000 scale=0.2500 norm=0.1770
[iter 300] loss=0.7104 val_loss=0.0000 scale=0.5000 norm=0.3520
[iter 400] loss=0.7005 val_loss=0.0000 scale=0.2500 norm=0.1745
[iter 0] loss=0.7100 val_loss=0.0000 scale=0.5000 norm=0.3550
[iter 100] loss=0.6825 val_loss=0.0000 scale=1.0000 norm=0.6894
[iter 200] loss=0.6673 val_loss=0.0000 scale=0.2500 norm=0.1703
[iter 300] loss=0.6619 val_loss=0.0000 scale=0.2500 norm=0.1695
[iter 400] loss=0.6617 val_loss=0.0000 scale=0.0010 norm=0.0007
[iter 0] loss=0.6956 val_loss=0.0000 scale=1.0000 norm=0.6995
[iter 100] loss=0.6779 val_loss=0.0000 scale=0.5000 norm=0.3431
[iter 200] loss=0.6637 val_loss=0.0000 scale=0.1250 norm=0.0848
[iter 300] loss=0.6600 val_loss=0.0000 scale=0.0020 norm=0.0013
[iter 400] loss=0.6577 val_loss=0.0000 scale=0.2500 norm=0.1686
[iter 0] loss=0.7015 val_loss=0.0000 scale=1.0000 norm=0.7213
[iter 100] loss=0.6381 val_loss=0.0000 scale=0.5000 norm=0.3343
[iter 200] loss=0.6165 val_loss=0.0000 scale=0.5000 norm=0.3287
[iter 300] loss=0.5981 val_loss=0.0000 scale=0.5000 norm=0.3256
[iter 400] loss=0.5867 val_loss=0.0000 scale=0.2500 norm=0.1622
[iter 0] loss=0.6146 val_loss=0.0000 scale=0.5000 norm=0.3402
[iter 100] loss=0.5908 val_loss=0.0000 scale=0.5000 norm=0.3326
[iter 200] loss=0.5844 val_loss=0.0000 scale=0.2500 norm=0.1655
[iter 300] loss=0.5810 val_loss=0.0000 scale=0.0312 norm=0.0206
[iter 400] loss=0.5792 val_loss=0.0000 scale=0.0078 norm=0.0052
[iter 0] loss=0.5975 val_loss=0.0000 scale=1.0000 norm=0.6675
[iter 100] loss=0.5698 val_loss=0.0000 scale=1.0000 norm=0.6463
[iter 200] loss=0.5520 val_loss=0.0000 scale=0.5000 norm=0.3184
[iter 300] loss=0.5393 val_loss=0.0000 scale=0.2500 norm=0.1578
[iter 400] loss=0.5332 val_loss=0.0000 scale=0.2500 norm=0.1576
[iter 0] loss=0.5546 val_loss=0.0000 scale=1.0000 norm=0.6574
[iter 100] loss=0.5214 val_loss=0.0000 scale=0.1250 norm=0.0789
[iter 200] loss=0.5136 val_loss=0.0000 scale=0.5000 norm=0.3138
[iter 300] loss=0.5053 val_loss=0.0000 scale=0.0010 norm=0.0006
[iter 400] loss=0.5038 val_loss=0.0000 scale=0.0010 norm=0.0006
[iter 0] loss=0.5839 val_loss=0.0000 scale=1.0000 norm=0.6788
[iter 100] loss=0.5237 val_loss=0.0000 scale=0.5000 norm=0.3117
[iter 200] loss=0.5005 val_loss=0.0000 scale=0.5000 norm=0.3066
[iter 300] loss=0.4878 val_loss=0.0000 scale=0.2500 norm=0.1529
[iter 400] loss=0.4810 val_loss=0.0000 scale=0.1250 norm=0.0763
[iter 0] loss=0.4896 val_loss=0.0000 scale=0.5000 norm=0.3101
[iter 100] loss=0.4702 val_loss=0.0000 scale=0.5000 norm=0.3093
[iter 200] loss=0.4624 val_loss=0.0000 scale=0.0625 norm=0.0386
[iter 300] loss=0.4591 val_loss=0.0000 scale=0.0312 norm=0.0193
[iter 400] loss=0.4531 val_loss=0.0000 scale=0.2500 norm=0.1537

In [76]:
np.mean(rmse_list)

1508852.693361796

#### 3) LGBMRegressor

In [77]:
lgbm = LGBMRegressor(random_state = 518)

In [78]:
rmse_list = []
lgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    lgb_pred += (sub_pred / 10)

In [79]:
np.mean(rmse_list)

1213815.0440528719

#### 4) XGBRegressor

In [80]:
xgb = XGBRegressor(random_state = 518)

In [81]:
rmse_list = []
xgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)

In [82]:
np.mean(rmse_list)

1437735.1546705803

#### 5) CatBoostRegressor

In [83]:
cat = CatBoostRegressor(random_state = 518, silent = True)

In [84]:
rmse_list = []
cat_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    cat.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in cat.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in cat.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    cat_pred += (sub_pred / 10)

In [85]:
np.mean(rmse_list)

1075600.9209088846

#### 6) RandomForestRegressor

In [86]:
rf = RandomForestRegressor(random_state = 518)

In [87]:
rmse_list = []
rf_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)

In [88]:
np.mean(rmse_list)

872738.262092494

***

#### 최종 예측 결과 블렌딩

In [89]:
submission['box_off_num'] = (xgb_pred + cat_pred + lgb_pred + rf_pred + gb_pred + ngb_pred) / 6

In [90]:
submission.sort_values(by = 'box_off_num')

            title   box_off_num
130  댄서김의 은밀한 교수법  1.220410e+01
39        REC 알이씨  1.459154e+01
139        화려한 외출  1.968890e+01
173           옹녀뎐  2.035907e+01
65        엄마는 창녀다  2.662858e+01
..            ...           ...
229           베테랑  4.399731e+06
61        수상한 고객들  4.640155e+06
142          박수건달  5.593045e+06
179    군도: 민란의 시대  6.656417e+06
178            명량  7.194914e+06

[243 rows x 2 columns]

In [91]:
submission.to_csv("0520.csv", index = False)